* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#myTitle {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#subTitle {
    background-color: tomato;
    color: white;
    padding: 10px;
}
